streamlit
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
pypdf
transformers
torch
googletrans==4.0.0rc1


streamlit
langchain
langchain-community
faiss-cpu
sentence-transformers
pypdf
googletrans==4.0.0rc1