streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
transformers==4.41.2
torch
torchvision
deep-translator
sentencepiece
